
<form>
  <div class="form-group">
    <label for="text">Tweet:</label>
    {{input id="text" class="form-control" value=text}}

  </div>

  <button class="btn btn-primary" {{action 'tweet'}}>Tweet</button>
</form>
